:root {
  --brand-color: #e3f2fd;
}

.App {
  text-align: center;
}

.navbar-light {
  background-color: var(--brand-color);
}

.section-header {
  margin-top: 30px;
  border-top: 1px solid var(--brand-color);
  font-size: 60px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: var(--brand-color);
}

#menu {
}

#menu .card {
  margin-bottom: 10px;
}
.price {
  color: gray;
  margin-left: 10px;
  font-size: 50%;
}
